{% schema %}
{
    "name": "Case Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Görseli Yükle"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Başlık",
            "default": "Everyday items, we have something to suit every occasion."
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Açıklama",
            "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus."
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Buton Yazısı",
            "default": "Shop All Everyday Items"
        }
    ],
    "presets": [
        {
            "name": "Case Section",
            "category": "Custom"
        }
    ]
}
{% endschema %}

{% assign color_map = "yeşil:#BCD9B2,mavi:#99C3CC,kırmızı:#ff0000,sarı:#ebe6bc,mor:#800080" | split: "," %}

<div class="bg-white">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 relative">
                {% if section.settings.image %}
                    <img src="{{ section.settings.image | img_url: 'original' }}" alt="Görsel" class="w-full h-auto">
                {% else %}
                    <p class="text-red-500">Görsel yüklenmedi.</p>
                {% endif %}

                <!-- Mobil için konumlandırılmış başlık ve buton -->
                <div class="absolute inset-0 flex flex-col justify-end p-10">
                    <h2 class="font-custom text-title-size leading-title-line-height font-custom-weight text-white mb-2 desktop-hidden">
                        {{ section.settings.title }}
                    </h2>
                    <a href="#" class="font-button-weight text-button-size leading-button-line-height desktop-hidden mt-4 mb-10 border-b border-white text-white max-w-xs">
                        {{ section.settings.button_text }}
                    </a>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="custom-hidden title-p mb-10">
                    <h2 class="md:font-custom text-custom-size title-size leading-custom-line-height font-custom-weight mb-2">
                        {{ section.settings.title }}
                    </h2>
                    <p class="text-gray-700 mb-5">
                        {{ section.settings.description }}
                    </p>
                    <a href="#" class="font-button-weight text-button-size leading-button-line-height mt-4 mb-10 border-b border-black max-w-xs">
                        {{ section.settings.button_text }}
                    </a>
                </div>
               <div class="carousel-container relative md:mt-0 -mt-10">
                    <div id="carousel" class="flex overflow-hidden transition-transform duration-300 font-body text-button-size ml-5 md:ml-15">
                        {% assign collection_handle = 'giyim' %}
                        {% for product in collections[collection_handle].products %}
                            <div class="carousel-slide pl-0 p-6">
                                {% if product.images.size > 0 %}
                                    <a href="{{ product.url }}">
                                        <img id="productImage-{{ product.id }}" src="{{ product.images.first | img_url: 'original' }}" alt="{{ product.title }}">
                                    </a>
                                {% else %}
                                    <p class="text-red-500">Görsel yüklenmedi.</p>
                                {% endif %}
                                <h3 class="font-body text-button-size mt-4">{{ product.title }}</h3>
                                <div class="flex flex-col md:flex-row justify-between mt-2">
                                    <span class="font-semibold">{{ product.price | money }}</span>
                                    <div class="flex space-x-2 mt-2 md:mt-0">
                                        {% assign hasAvailableVariant = false %}
                                        {% for variant in product.variants %}
                                            {% if variant.available %}
                                                {% assign hasAvailableVariant = true %}
                                                {% assign color_key = variant.option1 | downcase %}
                                                {% capture color_value %}
                                                    {% for color in color_map %}
                                                        {% assign parts = color | split: ":" %}
                                                        {% if parts[0] == color_key %}
                                                            {{ parts[1] }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endcapture %}
                                                {% if color_value != blank %}
                                                    <div class="color-button rounded-full w-3 h-3 cursor-pointer"
                                                        style="background-color: {{ color_value }};"
                                                        onclick="changeImage('{{ variant.image | img_url: 'original' }}', this, '{{ product.id }}')">
                                                    </div>
                                                {% else %}
                                                    <div class="text-red-500">Renk tanımlanmamış: {{ color_key }}</div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if hasAvailableVariant == false %}
                                            <div class="text-red-500">Varyant mevcut değil.</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button id="scrollLeft" class="absolute border border-light-600 left-3 top-1/2 transform -translate-y-1/2 bg-transparent text-black p-2 z-10 custom-hidden ml-15">
                        <img src="{{ 'icon-arrow-left.svg' | asset_url }}" alt="Left Arrow">
                    </button>
                    <button id="scrollRight" class="absolute border border-light-600 right-3 top-1/2 transform -translate-y-1/2 bg-transparent text-black p-2 z-10 custom-hidden">
                        <img src="{{ 'icon-arrow-right.svg' | asset_url }}" alt="Right Arrow">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
